# Python
## Python Variable, Data Types, List, Dictionaries, Packages, Numpy, Slicing

In [2]:
#my first python program

print("Namaste Vadodara")

Namaste Vadodara

In [3]:
#variable and data types

var1 = 12  # delcare int value
var2 = 200.50 #declare floating value
var3 = "Intel" #declare string
var4 = True #declare Character

print (var1)
print (var2)
print (var3)
print(var4)

12
200.5
Intel
True

In [4]:
#print the data types of variable
print (type(var1))
print (type(var2))
print (type(var3))
print (type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
var5 = var1/4
var6 = var1 * var2

print(var5)
print(var6)

3.0
2406.0

In [6]:
#use input keyword to take input from user

#aks user to enter the value and store it in varialbe x

x = int(input("Enter the value of x : "))

#aks user to enter the value and store it in varialbe y

y = int(input("Enter the value of y : "))

#perform multiplication of x and y and store answer in variable Z

z = x*y

#Print answer

print(z)

2925

In [7]:
#string Concatenation

str1 = "ITM"
print(str1)
print(type(str1))

str2 = "Universe"
print(str2)
print(type(str2))

#concatenation of str1 and str2 and store in str3
str3 = str1 + str2

print(str3)

ITM
<class 'str'>
Universe
<class 'str'>
ITMUniverse

In [ ]:
#string indexing and slicing

   # U N I V E R S E
    
    #0 1 2 3 4
    
    #-5 -4 -3 -2 -1

            
            
String                      U  N  I  V  E  R  S  E
            
Slice from Front            0  1  2  3  4  5  6  7     Index from Front
            
Slice from rear           -10 -9 -8 -7 -6 -5 -4 -3     Index From rear

In [8]:
name = "Universe"

print(name)
print(len(name))

Universe
8

In [9]:
name[3]

'v'

In [10]:
name[1:5]

'nive'

In [11]:
name[:6]

'Univer'

In [12]:
name[5:]

'rse'

In [13]:
name[-10:-1]

'Univers'

# Tuples in Python 

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.
Foramt 

Tuple = (val1, val2, val2,....)

In [14]:
#create tuples -

tup1 = ("ITM", 22, "Parth", 45.5, "Vadodara", 99)

print(tup1)
print(type(tup1))

('ITM', 22, 'Parth', 45.5, 'Vadodara', 99)
<class 'tuple'>

In [15]:
tup1[4]

'Vadodara'

In [16]:
tup1[2:4]

('Parth', 45.5)

In [17]:
tup2=("python", 87)

tup3 = tup1 + tup2
print(tup3)

('ITM', 22, 'Parth', 45.5, 'Vadodara', 99, 'python', 87)

In [23]:
#immutable 
# Tuples in Python #+
# ... previous code remains the same ...#+
#+
tup3 = tup1 + tup2#+
#+
# Fix: Convert tuple to list to perform deletion#+
tup3 = list(tup3)#+
del tup3[3]#+
tup3 = tuple(tup3)#+
#+
print(tup3)#

('ITM', 22, 'Parth', 'Vadodara', 99, 'python', 87)

# List in Python
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [24]:
#create list



lst1 = ["ITM", 22, "Parth", 45.5, "Vadodara", 99]
lst1

print(type(lst1))

<class 'list'>

In [25]:
lst1[3]

45.5

In [26]:
len(lst1)

6

In [27]:
lst1.remove(22)

In [28]:
lst1

['ITM', 'Parth', 45.5, 'Vadodara', 99]

In [29]:
del lst1[0]
lst1

['Parth', 45.5, 'Vadodara', 99]

# Disctionary
Dictionaries are used to store data values in key:value pairs.
Dictionaries are written with curly brackets, and have keys and values:

In [30]:
dict1 = { "University" : "ITM", "Course" : "Computer Science & Engineering", "Branch": "Electronics"}
print(dict1)

dict2 = { 1 : "ITM", 2 : "Artificial Intelligence", 3: "Electronics"}
print(dict2)

#print only key values
print(dict2.keys())

#print only values
print(dict2.values())

# create dictionary with single value
dict3 = {}
dict3 ['one'] = "This is an value of Key ONE"
dict3 [2] = "This is TWO "
print(dict3)

{'University': 'ITM', 'Course': 'Computer Science & Engineering', 'Branch': 'Electronics'}
{1: 'ITM', 2: 'Artificial Intelligence', 3: 'Electronics'}
dict_keys([1, 2, 3])
dict_values(['ITM', 'Artificial Intelligence', 'Electronics'])
{'one': 'This is an value of Key ONE', 2: 'This is TWO '}

In [31]:
print(len(dict1))
print(type(dict1))

3
<class 'dict'>

In [32]:
x=dict1['University']
print(x)

y = dict2[2]
y

ITM

'Artificial Intelligence'

In [33]:
from math import pi
pi

3.141592653589793

In [36]:
#find the area of circle

r = 6
area = pi*r*r

print(area)

113.09733552923255

In [35]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [37]:
for i in range(0,20,4):
    print(i)

0
4
8
12
16

In [38]:
#program to make simple calculator that can add, substract, mul, division

#this function adds two numbers
def add(x,y):
    return x+y

#this function subtract two numbers
def subtract(x,y):
    return x-y

#this function multiplies two numbers
def multiply(x,y):
    return x*y

#this function division two numbers
def divide(x,y):
    return x/y

print("select operation")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if choice == '1':
    print(num1, "+",num2, "=", add(num1,num2))

elif choice == '2':
    print(num1, "-",num2, "=", subtract(num1,num2))
    
elif choice == '3':
    print(num1, "*",num2, "=", multiply(num1,num2))
    
elif choice == '4':
    print(num1, "/",num2, "=", divide(num1,num2))
    
else:
    print("Invalid Input")

select operation
1. Add
2. Subtract
3. Multiply
4. Divide
56 - 65 = -9

# Python Conditional Statement

In [2]:
#If statement

num= 5
if num > 0:
    print(num, "is a Positive Number")
print("This statement is true")

5 is a Positive Number
This statement is true

In [39]:
#if else statement

num= -10
if num > 0:
    print(num, "is a Positive Number")
else:
    print("Negetive Number")

Negetive Number

In [6]:
#nested if

num= 5
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negetive Number")
    

    print("Negetive Number")

Positive number

In [40]:
a=b=c=1

In [41]:
id(a)
id(b)
id(c)

2488361746672

In [49]:
#Write a Program to convert degree Farenhiet to Celsius

print("Welcome to the Converter which will convert the Degree Farenhiet value to the Degree Celsius.")
    
F = int(input("Please Enter the Value of temperature in Degree Farenhiet : "))
C = ((F-32)*5)/9

        
print("The Value of Temperature in Degree Celsius is : ", C)
print("Thank You")

Welcome to the Converter which will convert the Degree Farenhiet value to the Degree Celsius.
The Value of Temperature in Degree Celsius is :  37.22222222222222
Thank You

In [43]:
# Exchange the value two variables with the temperorary variables
x = int(input("Enter the Value Number 1 : "))
y = int(input("Enter the Value Number 2 : "))

temp = x
x = y
y = temp

print(x)
print(y)

59
45

In [45]:
#Distance between two Points

import math
p = (4,5)
q = (6,9)
math.dist(p,q)

4.47213595499958

In [46]:
import math
p1 = [4, 8]
p2 = [6, 2]
distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )

print(distance)

6.324555320336759